@mixin flex($main-axis: flex-start, $main-cross: stretch) {
  display: flex;
  flex-wrap: wrap;

  @if $main-axis != flex-start {
    justify-content: $main-axis;
  }

  @if $main-cross != stretch {
    align-items: $main-cross;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

// @mixin flex {
//   display: flex;
//   flex-wrap: wrap;
// }

// @mixin flex-center {
//   @include flex;
//   justify-content: center;
//   align-items: center;
// }

// @mixin flex-between {
//   @include flex;
//   justify-content: space-between;
// }
