.btn {
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid red;
    background-color: #fff;
    cursor: pointer;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}