@import "src/stylesheet/common";

.page-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: $main-text-color;
  margin-bottom: 31px;
}
