.list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.item {
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
}

.loadMore {
    display: block;
    width: 100px;
    margin: 15px auto;
    padding: 10px 15px;
    border: 1px solid;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
        color: #fff;
        background-color: #000;
    }
}